.nav-link {
  color: purple; 
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-color 0.2s;
}


.nav-link:hover {
  color: #7e57c2; 
  border-bottom-color: #7e57c2; 
}

.nav-link.active {
  color: #9c27b0; 
  border-bottom-color: #9c27b0; 
}

.navbar-content {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 225px;
}

@media screen and (max-width: 768px) {
  .navbar-content {
    flex-direction: column; 
    align-items: center; 
  }

  .logo {
    margin-top: 10px;
  }
}
